<div class="row">
  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://static.webshopapp.com/shops/002090/files/160440482/file.jpg" alt="Card image cap" class="image-responsive">
    <div class="card-body">
    <h5 class="card-title">Wonder Woman</h5>
    <p class="card-subtitle mb-2 text-muted" class="card-text">Wonder Woman is an Amazon and was granted her powers by the Greek gods in particular Aphrodite who created the Amazons. It is said that much of her strength comes from her training and channeling her mental powers into physical abilities. Wonder Woman is Princess Diana of the Amazon island Themyscira.</p>
    <div>
        <div class="price">$45</div>
        <a href="#" class="btn btn-success">Buy</a>
    </div>
</div>
    </div>
    </div>
    <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://static.webshopapp.com/shops/002090/files/160440482/file.jpg" alt="Card image cap" class="image-responsive">
  <div class="card-body">
    <h5 class="card-title">Wonder Woman</h5>
    <p class="card-subtitle mb-2 text-muted" class="card-text">Wonder Woman is an Amazon and was granted her powers by the Greek gods in particular Aphrodite who created the Amazons. It is said that much of her strength comes from her training and channeling her mental powers into physical abilities. Wonder Woman is Princess Diana of the Amazon island Themyscira.</p>
    <div>
        <div class="price">$45</div>
        <a href="#" class="btn btn-success">Buy</a>
    </div>
  </div>
</div>
</div>
</div>